<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>UI demo test bed</title>
</head>
<body>
	
	
	<div class="dialogue_box">                                          
	   <div class="portrait">
	   		<img src="/images/bandit.png"></img>
	   </div>
	
	   		<div class="textbox">                
	
	   			<h1>
	   			 <a class="typewrite" data-period="2000" data-type='[ "I ain`t living off tea and peanut butter no more!" ]'> 
	   			 <span class="wrap"></span>
	 			 </a>
	 			 </h1>
	     			
	   	 </div>
	   	 
	</div>
</body>
</html>